{% extends 'layout/base.html' %}

{% block title %}Toa thuốc{% endblock %}

{% block content %}
    <div class="container mx-auto px-10 py-8">
        <h1 class="text-center text-3xl font-bold mb-4">Toa thuốc</h1>
    </div>

    {%if 'medicine' in session and session['medicine'] %}
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">

        </thead>
        <tr>
            <th scope="col" class="px-6 py-3">
                Mã thuốc
            </th>
            <th scope="col" class="px-6 py-3">
                Tên thuốc
            </th>
            <th scope="col" class="px-6 py-3">
                Đơn giá thuốc
            </th>
            <th scope="col" class="px-6 py-3">
                Số lượng
            </th>
        </tr>
        {% for t in session['medicine'].values() %}
        <tr id="">
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                {{t.id}}
            </th>
            <td class="px-6 py-4">
                {{t.tenThuoc}}
            </td>
            <td class="px-6 py-4">
                {{"{:,.0f}".format(t.donGia)}} VND
            </td>
            <td class="px-6 py-4">
                {{t.quantity}}
            </td>
        </tr>
        {% endfor %}
    </table>
    <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50" role="alert">
        <span class="font-medium">Tổng số lượng: {{stats.total_quantity}}</span>
    </div>
        {% if current_user.is_authenticated %}
    <button class="btn btn-danger" value="lap don thuoc"> Lập toa thuốc</button>
        {%endif%}
    {%else%}
        <p><i>Khong co san pham nao trong gio</i> </p>
    {% endif %}

{% endblock %}